<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="oldpath" value=""/>
    <add key="oldenclosurepath" value=""/>
    <add key="newpath" value=""/>
    <add key="newenclosurepath" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
